$primary-color: #1da1f2;
$secondary-color: #14171a;
$light-secondary-color: #657786;
$border-color: #706d6e;
$focused-color: rgba(17, 117, 181, 0.6);
$white: #ffffff;
$app-background: #ecf0f1;
$modal-bg-color: rgba(0,0,0,.3);

$media-brk-pt: 600px;
