.modal__container {
  background-color: $modal-bg-color;
  @include flex-center();
  @include app-main-layout();
  z-index: 10000;
  .btn__close-modal {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.7rem;
    min-width: 0 !important;
    font-size: 2rem;
    line-height: 1rem;
    margin: 0 !important;
    outline: 0;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background: $focused-color;
    }
  }
}

/*
* Media Queries
*/

@media screen and (max-width: $media-brk-pt) {
  .modal__container {
    .tweets__unorderd-list {
      margin: 1rem;
    }
  }
}
